.app-main {
  min-height: calc(100vh - 72px);
  margin-top: 72px;
  transition: margin-left 0.25s ease;
  color:black
}

.app-main.sidebar-open {
  margin-left: 240px;
}

.app-main.sidebar-closed {
  margin-left: 72px;
}

@media (max-width: 600px) {
  .app-main.sidebar-open,
  .app-main.sidebar-closed {
    margin-left: 0;
  }
}